:root {
  --body_bg: rgb(172, 168, 161);
  --body_text: rgb(3, 10, 30);
  --border_color: rgb(89, 100, 110);
  --cat_bg: rgb(80, 92, 101);
  --cat_bar_box_shadow: 0 16px 20px rgba(255, 255, 255, 0.3) inset;
  --header_bg: rgb(80, 92, 101);
  --board_icon_color: rgb(8, 26, 60);
  --link: rgb(16, 82, 137);
  --link_hover: rgb(211, 17, 65);
  --footer_bg: rgb(219, 222, 226);
  --input_bg: rgb(55, 55, 55);
  --window_bg_1: rgb(230, 234, 238);
  --window_bg_2: rgb(230, 234, 238);
  --window_bg_3: rgb(230, 234, 238);
  --window_bg_4: rgb(230, 234, 238);
  --window_bg_approve: rgb(236, 213, 216);
  --window_bg_hover: rgb(246, 244, 208);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --user_wrap_bg_1: rgb(17, 16, 17);
  --user_wrap_bg_2: rgb(44, 44, 44);
  --navbox_bg: rgb(220, 223, 227);
  --title_bar_bg: rgb(80, 92, 101);
  --quote_bg: rgb(224, 230, 246);
  --quote_bg_alt: rgb(235, 244, 248);
  --quote_text: rgb(0,0,0);
  --quote_border: rgb(0,0,0);
  --button_bg: rgb(255, 255, 255);
  --button_bg_2: rgb(233, 233, 233);
  --button_active_text_color: rgb(211, 17, 65);
  --button_active_border_color: rgb(211, 17, 65);
  --button_text_color: rgb(143, 143, 143);
  --button_text_hover: rgb(10, 142, 208);
  --button_border_color: rgb(199, 195, 191);
  --button_border_color_hover: rgb(10, 142, 208);
  --new_post_indicator_bg: rgb(16, 82, 137);
  --new_post_indicator_bg_hover: rgb(211, 17, 65);
}